<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="public/ionicons/fonts/ionicons.woff">
    <link rel="stylesheet" href="public/ionicons/css/ionicons.css">
    <title>Kitsu</title>
</head>
<body>
    <nav>
        <a href="#"><img src="public/img/logo.png" /></a>
        <div>
            <input type="text" placeholder="Search...">
            <div>
                <i class="ion-search"></i>
            </div>
        </div>
        <p>Hello, Guest! <a href="#">Log In</a></p>
    </nav>

    <header>
        <h1>Random Anime Generator</h1>
        <div class="grid">
        </div>
    </header>

    <section id="discover">
        <h2>Discover</h2>
        <div class="grid">
            <div>Action</div>
            <div>Comedy</div>
            <div>Adventure</div>
            <div>Drama</div>
        </div>
    </section>

    <footer>All Rights Reserved To Kitsu<sup>TM</sup> 2017-2018. Designed by Angelescu Mircea</footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="public/js/app.js"></script>
</body>
</html>